    html {
        box-sizing: border-box;
        font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
    /** GENERALES */

   /* .fondo{
        background: url(../img/fondo-header.jpg) no-repeat center center fixed;
        background-size: cover;
        font-family: 'Lato', sans-serif;
        width: 100%;  
    }*/
    .site-header.inicio {
        background-image: url(../img/fondo-header.jpg);
        background-position: center center;
        background-size: cover;
        height: 100vh;
        min-height: 90rem;
    }
   
    body{
        font-family: 'Lato', sans-serif;
        
    }

    img{
        max-width: 100%;
    }
    
    .contenedor {
        width: 95%;
        max-width: 120rem; /** = 1200px; **/
        margin: 0 auto;
    }
    h1 {
        font-size: 3.8rem;
    }
    h2 {
        font-size: 3.4rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.6rem;
    }

    img.zoom-img {
        width: 350px;
        height: 200px;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
    }
     
    .transition {    
        -webkit-transform: scale(1.1); 
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }


    
    /*Utilidades*/
    .seccion{
        margin-top: 6rem;
        margin-bottom: 6rem;
    }
    .f-300 {
        font-weight: 300;
    }
    .centrar-texto {
        text-align: center;
    }
    
    /** Header */
    .cabecera{
        width:100%;
        background:#2e465b41;
        position: relative;
        /*padding:0px 15px;
        padding-bottom: 8px;
        margin: -8px; */   
    }   

    .contenido-barra{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .logo{
        width:100px; 
        height:100px;
    }

    .titulo{
        font-size: 4.6rem !important;
        color:#E7B26B;
        width:33%;
     }

    /** Menu bar**/

    .menu-movil{
        margin-top: 2rem;
        margin-left: 1rem;
    }
    .menu-movil a{
        padding: 5px 1rem;
        background-color: #272323;
        width: 60px;  color: white;
        font-size: 5rem;
        border-radius: 10px;
    }

    .menu-movil :hover{
        background-color: #5a5a5ad5;
    }

     #header {
        display: none;
        position: absolute;
        z-index: 3; 
        margin-top: -.5rem;
        margin-left: -3rem; 
    }
    ul, ol {
        list-style: none;
    }
    .nav{
        display: flex; 
        flex-direction: column;
        z-index: 2;   
    }
    .nav li a {
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 25px 30px;
        display: block;
        font-size: 1.2rem;    
        font-weight: 500;
        text-align: center; 
        border: .1px solid rgba(255, 255, 255, 0.253);
        background-color: #000000d8;
    }
    .nav li a:hover{
        color: #000000;
        background-color: #ffffffec; 
    }
    .nav > li {
        float: left;
    }
    .nav li ul {
        display:none;
        position:absolute;
        min-width: 0px;
        
    }
    .nav li:hover>ul{
        display: block;
    }
    .nav li ul li {
        position: relative;
        right: -92px;
    }
    .nav li ul li ul {
        right: -15px;
        top: 0px;
    }
    .p-creel ul li{
        left: 100px;
        top: 0px;
    }

    @media (min-width: 780px){
        .menu-movil a{
            padding: 5px 1rem;
            width: 60px; 
            font-size: 5.5rem;
        }
        .nav li a {
            padding: 30px 85px;
            font-size: 1.5rem;    
        }
        .nav li ul li {
            position: relative;
            right: -219px;
        }
        .nav li ul li ul {
            right: -12px;
            top: 0px;
        }
        .p-creel ul li{
            left: 223px;
            top: 0px;
        }

    }

    @media (min-width: 1050px){
        .menu-movil{
            display: none;
        }
        #header{
            display: block;
            position: static;
            margin-top: 0rem;
            margin-left: 0rem; 
            align-content: center;
            display: flex;
            justify-content: center;
            width: 100%;
            background-color: transparent;
        }
        .nav{
            display: flex;
            flex-direction: row; 
            z-index: 1;   
        }
        .nav li a {
            background-color: #333333d7;
            color: rgb(255, 255, 255);
            text-decoration: none;
            padding: 25px 50px;
            display: block;
            font-size: 1.2rem;    
            font-weight: 500; 
            border: none;  
        }
        .nav li ul li {
            position: relative;
            right: 38px;
        }
        .nav li ul li ul {
            right: -186px;
            top: 0px;
        }
        .p-creel ul li{
            left: 20px;
            top: 0px;
        }

    }

    .t-letra {
    text-align: center;
    color: #FCDB00;
    font-family: impact;
    font-size: 80px;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-fill-color: rgb(38, 114, 202);
    -webkit-text-stroke: 2px black;
    }  

  .stroke {
    text-align: center;
    color: #FCDB00;
    font-family: impact;
    font-size: 46px;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-fill-color: rgb(28, 96, 173);
    -webkit-text-stroke: 2px black;
    } 
 
   .stroke2 {
    text-align: center;;
    color: #FCDB00;
    font-family: impact;
    font-size: 46px;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-fill-color:#cc9933;
    -webkit-text-stroke: 2px black;
    }  

    .txt-usuario{
        font-size: 2.5rem !important;
    }

    .txt-invitado{
        font-size: 2.3rem;
    }

 
    .t-letra2 {
    text-align: center;
    color: #cc9933;
    font-family: impact;
    font-size: 46px;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
    -webkit-text-fill-color: #E7B26B;
    -webkit-text-stroke: 2px black;
    }  



    .paquetes-principales a{
        display: none;
    }
    .paquetes-principales{
        display: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    

    @media (min-width: 1050px){
        .paquetes-principales{
            display: flex;
            flex-direction: row;
        }
        .paquetes-principales a{
            display: block
        }
    }


    /** Diseño carrousel movil*/

    .paquetes-movil{
        text-align: center;
        position: relative;
    }
    .botones{
        font-size: 30px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        background-color: rgba(0,0,0,.7);
        text-align: center;
        font-weight: bold;
        position: absolute;
        color: #fff;
        box-shadow:  0 0 10px rgba(255,255,255,.6);
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        z-index: 2;
    }
    .botones:hover{
        cursor: pointer;
        transform: scale(1.2,1.2);
    }

    .atras{
        left: 2%;
        top: calc(55.5% - 70px);
    }

    .adelante{
        right: 2%;
        top: calc(55.5% - 70px);
    }

    @media (min-width: 1050px){
       .paquetes-movil,
        .botones{
            display: none;
        }
    }

   /** imagenes paquetes **/
    .borde{
        border-radius:50px;
        width: 400px; 
        height: 500px;
     
    }
  
    .zoom {
    transition: transform .4s; 
    position:relative;
    padding: .5rem;     
    border: 2px solid #cc9933;     
    padding: 5px;  
    }

    .zoom:hover {
    transform: scale(1.08);
    
    }
  
    /* Section Nosotros */

    @media (min-width: 768px) {
        .iconos-nosotros {
            display: flex;
            justify-content: space-between;
        }
    }
    .icono {
        text-align: center;
    }
    @media (min-width: 768px) {
        .icono {
            flex-basis: calc(33.3% - 1rem);
        }
    }    
    
    .icono h3 {
        text-transform: uppercase;
        font-size: 2rem;
    }
    .icono p{
        font-size: 1.5rem;
        line-height: 1.5;
        text-align: justify;
    }


   /*imagen central*/
    .imagen-contacto {
        background-image: url(../img/panoramica.jpg);
        background-position: center center;
        background-size: cover;
        height: 40rem;
        display: flex;
        align-items: center;
    }
    .contenido-contacto {
        flex: 0 0 50%;
        color: #ffffff;
        background-color: #020202ab;
        border-radius: 10px;
        text-align: center;
    }
    .contenido-contacto p {
        font-size: 2rem;
    }

    .boton {
        color: #ffffff;
        font-weight: 700;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 1rem 3rem;
        margin-top: 3rem;
        display: inline-block;
        text-align: center;
        border: none;
        display: block;
        flex: 0 0 100%;
    }
    .boton-amarillo {
        background-color: #e0ae09;
      
    }

    /*ultima seccion*/
    @media (min-width: 768px) {
        .seccion-inferior {
            display: flex;
            justify-content: space-between;
        }
        .seccion-inferior .blog {
            flex-basis: 60%;
        }
        .seccion-inferior .testimoniales {
            flex-basis: calc(40% - 2rem);
        }
    }
    .entrada-blog {
        margin-bottom: 2rem;
    }
    @media (min-width: 768px) {
        .entrada-blog {
            display: flex;
            justify-content: space-between;
        }
    }
    
    .entrada-blog:last-of-type {
        margin-bottom: 0;
    }

    .entrada-blog .imagen, .entrada-blog .texto-entrada{
        text-align: center;
    }

    @media (min-width: 768px) {
        .entrada-blog .imagen {
            flex-basis: 40%;
        }
        .entrada-blog .texto-entrada {
            flex-basis: calc(60% - 3rem);
        }
    }
    .texto-entrada a {
        color: #000000;
        text-decoration: none;
    }
    .texto-entrada h4 {
        margin: 0;
        line-height: 1.6;
    }
    .texto-entrada h4::after {
        content: '';
        display: block;
        width: 15rem;
        height: .5rem;
        background-color: #299000;
        margin-top: 1rem;
    }
    .texto-entrada span {
        color: #d87e00;
    }
    .texto-entrada p{
        font-size: 1.4rem;
        line-height: 1.5;
    }
    /*** Testimoniales **/
    .testimonial {
        background-color: #cc9933;
        font-size: 2.5rem;
        padding: 1rem;
        color: #ffffff;
        border-radius: 2rem;
    }
    .testimonial  p {
        text-align:center;
    }
    
    .testimonial blockquote {
        position: relative;
        font-weight: 300;
    }


    /** Footer**/
    .navegacion a {
        color: #ffffff;
        text-decoration: none;
        font-size: 1.2rem;
        display: block;
    }
    @media (min-width: 768px) {
        .navegacion a {
            display: inline-block;
            font-size: 1.5rem; /** = 18px **/
            margin-right: 2rem;
        }
        .navegacion a:last-of-type {
            margin: 0;
        }
    }
    .navegacion a:hover {
        color: #71B100;
    }
 
    .footer {
        background-color: #333333;
        margin-top: 2rem;
        margin-bottom: 0;
    }
    .contenedor-footer {
        padding: 3rem 0;
        text-align: center;
    }
    @media (min-width: 768px) {
        .contenedor-footer {
            display: flex;
            justify-content: space-between;
        }
    }
    .footer nav {
        display: none;
    }
    @media (min-width: 768px) {
        .footer nav {
            display: block;
        }
    }
    
    .copyright {
        margin: 0;
        color: #ffffff;
        font-size: 1.2rem;
    }


    .footer2 {
        background-color:  #333333;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        color: white;
      }
    
   /** Pagina Nosotros **/
   .cintillo {
        margin-top: -5rem;
        background-color: #2E465B;
        font-size: 14px;
        color: white;
        font-weight: lighter;
   }

   .centrado{
        position: absolute;
        top: 50%;
        left: 70%;
        font-family: 'Roboto Slab', serif;
        font-weight: 500 !important;
        color: white;
        font-size: 50px !important;
        text-align: right;
        text-shadow: 1px 1px 8px #969696;
        margin-top: 70px;
        transform: translate(-50%, -50%);
    }

    .caja{
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        background:#2E465B;
        margin: 0 0 25px;
        overflow: hidden;
        padding: 20px;
        text-align: center;
    } 

    .cuerpo1 {
        font-size: 20px !important;
        font-family:Arial, Helvetica, sans-serif ;
        color: #272323 !important;
        margin-bottom: 0;
        font-weight: 700;
        line-height: 34px;
        margin: 0px;
    }  



    .zoom1 {
        transition: transform .2s; 
        position:relative;
        padding: 10%;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #ffffff;
        background:#cc9933;
        margin: 0 0 25px;
        overflow: hidden;
        padding: 20px;
     
        
    }
    .zoom1:hover {
        transform: scale(1.1);
        
    } 

    
    /**CREEL*/

    .fondo-cabecera{
        background: url(../img/fondo-paginas.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
     }

     .tamaño-titulo{
         font-size: 4rem;
         color: #666666;
         font-weight: 700;
     }
    

     .imagenes{
         margin-top: 2rem;
         margin-bottom: 4rem;    
     }

     .imagenes img{
         max-width: 100%;
     }

    .contenedor h1{
          margin-top: 4rem;
          margin-bottom: 2rem;
          
    }

    .informacion{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 4rem;

    }
    .informacion img{
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    @media (min-width: 1050px){
        .informacion{
            display: flex;
            flex-direction: row;
        }
   
    }


    .informacion p{
        text-align: justify;
        margin-right: 3rem;

    }

    .actividades{
        display: flex;
        flex-direction: column;
    }
    .actividades img{
        width: 90%;
        margin-bottom: 2rem;
    } 
    .acomodar{
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
        align-items: center;
        width: 100%;
    }
   
    .info-paquete{
        margin-left: 0rem;
        line-height: 2;
        margin-bottom: 2rem;
    }
    .info-paquete h3{
        font-size: 2.5rem;
        margin-top: -1rem;
        text-transform: uppercase;
        color: rgb(71, 71, 71);
    }
 
    .info-paquete p{
        margin-top: -2rem;
        font-size: 1.9rem;
        font-weight: 600;
    }
    .info-paquete ul{
        list-style: square;
        margin-top: -1rem;
        font-size: 1.8rem;
    }
    
    .inf-pago{
        margin-top: -1rem;
        color: #ffffff;
        background:#2E465B;
        padding: 1rem 2rem 0 2rem;
        text-align: center;
        border-radius: 16px;
        width: 100%;
    }
    .inf-pago li{
        list-style: none;
    }
    .inf-pago ul{
        padding-left: 0rem;
    }
    .inf-pago h3{
        font-size: 2rem;
        font-weight: 700;
    }
  

    @media (min-width: 1050px){
        .acomodar{
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin-bottom: 5rem;
         }
         .actividades img{
          width: 400px;
          height: 250px;   
          margin-bottom: 0rem;
         } 
         .caja{
             text-align: justify;
         }
         .info-paquete{
            margin-left: 2rem;
            line-height: 2;
            margin-bottom: 0rem;
        }
          .info-paquete p{
            margin-top: -2rem;
            font-size: 1.9rem;
            font-weight: 600;
         } 
            
        .inf-pago{
            margin-top: -1rem;
            color: #ffffff;
            background:#2E465B;
            padding: 1rem 2rem 0 2rem;
            text-align: justify;
            border-radius: 16px;
            width: auto;
        }
        .inf-pago button{
            margin-left: 4rem;
        }
      }
  

    /** LOGIN ***/
   
.fondologin{
    background: url(../img/info1.jpg);
}
    
.login-pagina {
 
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: .5rem;
  opacity: 15;


  background-color: #333333d7;
  color: rgb(255, 255, 255);
}

  .fa-stack-1x {
    
    color: black;
  }

  
    
.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);}
  
  .login-username:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
    
  }
  .login-password:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
    
  }
  
  



.login-forgot-pass {
  border-bottom: 1px solid white;
  bottom: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 150%;
  left: 0;
  opacity: 0.6;
  padding: .5rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 100%;}
  .login-forgot-pass:hover {
    opacity: 1;
  
}
.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms background ease-in;
   }
   
   .login-submit:hover
   {
    background: white;
    color:black;
    transition: 250ms background ease-in;
   }
 
.login-submit::focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
 
}





[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}
.underlay-photo {
  /*animation: hue-rotate 6s infinite;*/
  background-image: url("info1.jpg");
  background-size: cover;
  -webkit-filter: grayscale(30%);
  z-index: -1;
}
.underlay-black {
  background: rgba(0,0,0,0.7);
  z-index: -1;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

    